
<div class="note">
    <h1>Component</h1>
    <div>
    <p>* logic: typescript class  </p>
    <p>* view: html template  </p>
    <p>* style: css file </p>
    <p>* defined for the component annotation of angular</p>
    <p>* require import component in attribute 'declare' in ngModule annotation
        when is define the module. (ex-component.module.ts) </p>
    </div>
</div>
<div class="parent">
    <h3>Parent Title</h3>
    <app-left></app-left>
    <app-right></app-right>
</div>
<div>
    <h1>Input properties</h1>
    <app-using-input [parentValue]="parentValue"></app-using-input>
</div>
<div>
    <h1>Output properties</h1>
    <p>Emit event from child to update attributes from parent 
        (using-output.component.ts)</p>
    <app-using-output (updateValue)="updateValue($event)"></app-using-output>
    <p>parentCount: {{parentCount}}</p>
</div>